.tropical{
  color: #7dc410;
}
h1{
  color: #f7325e;


}
body{
  font-family: fantasy;
}
body{padding: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 65%;
}
 .popular{
   font-size-adjust: auto;
   font-weight: bold;
   font-family: sans-serif;
   background-color: lightgrey;
   display:block;
   flex-direction: row;
   border: 1px solid white;
   border-radius:5%;

 }
 h1{
   text-align:center;
 }
 h3.popular{
    padding-left: 4%;
    padding-top: 4%;
 }
